# NOTE: Replace with absolute paths in production (e.g. from `./configs/graylog/lookup/` to `/opt/logserver/configs/graylog/lookup`)

# prod, dev
ENV=dev

## GRAYLOG ##
GRAYLOG_VERSION="7.1.0"
# Secrets
GRAYLOG_PASSWORD_SECRET=
GRAYLOG_ROOT_PASSWORD_SHA2=
# Configs
GRAYLOG_SERVER_JAVA_OPTS="-Xms4g -Xmx4g -XX:+UseG1GC -XX:MaxGCPauseMillis=200"
GRAYLOG_HTTP_EXTERNAL_URI="http://localhost:9000/"
GRAYLOG_HTTP_BIND_ADDRESS="0.0.0.0:9000"
GRAYLOG_MESSAGE_JOURNAL_ENABLED="true"
GRAYLOG_MESSAGE_JOURNAL_MAX_SIZE="50gb"
GRAYLOG_MESSAGE_JOURNAL_MAX_AGE="12h"
# Paths
GRAYLOG_JOURNAL_PATH="/data/gl-journal"
GRAYLOG_LOOKUPS_PATH="./configs/graylog/lookup"

## MONGODB ##
MONGODB_VERSION="7.0"
# Paths
MONGODB_DATA_PATH="/data/mongodb"
MONGODB_BACKUP_PATH="./backups/mongodb"

## OPENSEARCH ##
OPENSEARCH_VERSION="2.19.5"
OPENSEARCH_PROM_EXPORTER_VERSION="2.19.5.0"
# Secrets
OPENSEARCH_INITIAL_ADMIN_PASSWORD=
# Configs
OPENSEARCH_JAVA_OPTS="-Xms10g -Xmx10g"
# Paths
OPENSEARCH_DATA_PATH="/data/opensearch"
OPENSEARCH_SNAP_PATH="/data/opensearch-snapshots"
OPENSEARCH_CONFIG_PATH="/opt/tasco-logserver/configs/opensearch/opensearch.yml"

## GRAFANA ##
GF_VERSION="13.0.1-security-01"
# Secrets
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
# Paths
GF_DATA_PATH="./data/grafana"
GF_PROVISIONING_PATH="./configs/grafana/provisioning"
# Configs
GF_SERVER_DOMAIN=192.168.1.X
GF_SERVER_ROOT_URL=http://192.168.1.X:3000
GF_TEAMS_CRITICAL_WEBHOOK_URL=
GF_TEAMS_WARNING_WEBHOOK_URL=

## PROMETHEUS ##
PROMETHEUS_VERSION="v3.11.3"
NODE_EXPORTER_VERSION="v1.11.1"
# Paths
PROMETHEUS_CONFIG_FILE="./configs/prometheus/prometheus.yml"
PROMETHEUS_DATA_PATH="./data/prometheus"
